p{
color:blue;

}
h1{
color:blue;
text-align: center;
} 
body{
    background-image:url('.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-attachment:fixed;
}	
.content{
font-family:Microsoft JhengHeui,Arial,sans-self;
background-color:rgba(255,255,255,0.8);
margin-top:30px;
margin-right:80px;
margin-left:80px;
padding:20px;
}
